<section class="about_us" id="about_us">
  <div class="container about-us-container">
    <div class="about-us-text-container">
      <h2 class="about-us-title">About Us</h2>
      <div class="about-us-text-box">
        <p class="about-us-paragraph">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p class="about-us-paragraph">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
      </div>
      <a href="#catalog" class="about-us-link smooth-scroll">View catalog</a>
    </div>
    <div class="about-us-img-container">
      <picture>
        <source
          srcset="
            ./img/About_us/2watch-desk-1x.png 1x,
            ./img/About_us/2watch-desk-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/About_us/2watch-tab-1x.png 1x,
            ./img/About_us/2watch-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/About_us/2watch-mob-1x.png 1x,
            ./img/About_us/2watch-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="about-us-img"
          src="./img/About_us/2watch-desk-1x.png"
          alt="clock"
        />
      </picture>
    </div>
  </div>
</section>
