<div class="container " id="about_section">
  <h2 class="aboutH2">ABOUT <span class="aboutSpan">ME</span></h2>
  <div class="cartsInfo sectionGap">
    <img
      class="aboutImg"
      srcset="
        ..//images/about_me/about_me-desk-1x-min.jpg 1x,
        ..//images/about_me/about_me-desk-2x-min.jpg 2x
      "
      src="..//images/about_me/about_me-desk-1x-min.jpg"
      alt="the guy with a laptop"
      width="320"
      height="374"
      loading="lazy"
    />

    <!-- <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          /21-group-project/assets/hero-girl@1-e5f79b25.png  1x,
          /21-group-project/assets/hero-girl@2x-36610339.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /21-group-project/assets/hero-girl-mob@1-ec429786.png  1x,
          /21-group-project/assets/hero-girl-mob@2x-fc1dd890.png 2x
        "
        type="image/png"
      />
      <img
        src="/21-group-project/assets/hero-girl@1-e5f79b25.png"
        alt="girl-with-orange"
        class="hero-photo aos-init aos-animate"
        width="452"
        height="702"
        loading="lazy"
        data-aos="zoom-in"
      />
    </picture> -->
    <div class="about_Bio">
      <h3 class="titel">BIO</h3>

      <p class="aboutMe_list">
        I'm Lloyd Jefferson, a talented programmer specializing  in software
        development. My expertise spans various programming languages and
        technologies, and I am dedicated to continually enhancing my skills. I
        thrive on seeking unconventional and creative solutions to problems,
        leveraging a high level of analytical skills to effectively tackle even
        the most challenging tasks.
      </p>

      <p class="aboutMe_list">
        Adaptable to both independent and team-oriented work, I collaborate
        seamlessly with colleagues, exchanging ideas and finding optimal
        solutions. My professional maturity enables me to navigate challenges
        and stressful situations with a calm demeanor, maintaining a
        consistently high quality of work. Committed to self-improvement, I
        actively engage in studying new technologies and practices to stay
        current with the  latest innovations in the field.
      </p>
    </div>
   
  </div> 
  <div class="aboutMe_background_image"></div>
  <div class="cartsInfo ml240px">
    <div class="about_Education">
      <h3 class="titel">EDUCATION</h3>
      <ul class="aboutMe_list education_list">
        <li>
          <p>
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
        </li>
        <li>
          <p>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
        </li>
        <li>
          <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        </li>
      </ul>
    </div>
    <div class="about_Education">
      <h3 class="titel">ROLE</h3>
      <ul class="aboutMe_list education_list">
        <li><p>Frontend development</p></li>
        <li><p>HeadlessCMS, Wordpress</p></li>
        <li><p>Blender (enjoy)</p></li>
      </ul>
    </div>
  </div>
</div>
