<section class="benefits" id="benefits">
    <div class="container">
        <h1 class="benefits__title"><span>Benefits</span> of working with me</h1>
        <ul class="benefits__list">
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use href="./images/icons/sprite.svg#user-01"></use>
                </svg>
                <h4 class="benefits__item-title">Expertise</h4>
                <p class="benefits__item-text">We provide top-notch quality services and products to meet your needs.
                </p>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use href="./images/icons/sprite.svg#message-chat-circle"></use>
                </svg>
                <h4 class="benefits__item-title">Communication</h4>
                <p class="benefits__item-text">Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.</p>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use href="./images/icons/sprite.svg#brush-01"></use>
                </svg>
                <h4 class="benefits__item-title">Art</h4>
                <p class="benefits__item-text">We constantly innovate to bring you the best solutions.</p>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use href="./images/icons/sprite.svg#hourglass-02"></use>
                </svg>
                <h4 class="benefits__item-title">Urgent execution</h4>
                <p class="benefits__item-text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
            </li>
        </ul>
    </div>
</section>