<section id="catalog">
  <div class="container catalog-container">
  <h2 class="catalog-header">Catalog</h2>
  <div class="catalog-list-and-button">
  <ul class="catalog-list">
    <li class="catalog-li">
      <div class="catalog-item">
      <picture class="catalog-item-img">
        <source media="(min-width:1280px)" srcset="./img/Catalog/cat1-desk-1x.png 1x, ./img/Catalog/cat1-desk-2x.png 2x">
        <source media="(min-width:768px)" srcset="./img/Catalog/cat1-tab-1x.png 1x, ./img/Catalog/cat1-tab-2x.png 2x">
        <source media="(min-width:320px)" srcset="./img/Catalog/cat1-mob-1x.png 1x, ./img/Catalog/cat1-mob-2x.png 2x">
      <img
      src="./img/Catalog/cat1-desk-1x.png"
      alt="Garmin Fenix 7X Pro Sapphire Solar"
      >
      </picture>
      <div class="catalog-item-text">
      <p class="catalog-name-watch">Garmin Fenix 7X Pro Sapphire Solar</p>
      <p class="catalog-price-watch">€500</p>
    </div>
    </div>
    </li>
    <li class="catalog-li">
      <div class="catalog-item">
      <picture class="catalog-item-img">
        <source media=" (min-width:1280px)" srcset="./img/Catalog/cat2-desk-1x.png 1x, ./img/Catalog/cat2-desk-2x.png 2x">
        <source media="(min-width:768px)" srcset="./img/Catalog/cat2-tab-1x.png 1x, ./img/Catalog/cat2-tab-2x.png 2x">
        <source media="(min-width:320px)" srcset="./img/Catalog/cat2-mob-1x.png 1x, ./img/Catalog/cat2-mob-2x.png 2x">
      <img
      src="./img/Catalog/cat2-desk-1x.png"
      alt="Garmin Marq Athlete"
      >
      </picture>
      <div class="catalog-item-text">
      <p class="catalog-name-watch">Garmin Marq Athlete</p>
      <p class="catalog-price-watch">€450</p>
    </div>
    </div>
    </li>
    <li class="catalog-li">
      <div class="catalog-item">
      <picture class="catalog-item-img">
        <source media="(min-width:1280px)" srcset="./img/Catalog/cat3-desk-1x.png 1x, ./img/Catalog/cat3-desk-2x.png 2x">
        <source media="(min-width:768px)" srcset="./img/Catalog/cat3-tab-1x.png 1x, ./img/Catalog/cat3-tab-2x.png 2x">
        <source media="(min-width:320px)" srcset="./img/Catalog/cat3-mob-1x.png 1x, ./img/Catalog/cat3-mob-2x.png 2x">
      <img
      src="./img/Catalog/cat3-desk-1x.png"
      alt="Garmin Descent MK1"
      >
      </picture>
      <div class="catalog-item-text">
      <p class="catalog-name-watch">Garmin Descent MK1</p>
      <p class="catalog-price-watch">€680</p>
    </div>
    </div>
    </li>
    <li class="catalog-li">
      <div class="catalog-item">
      <picture class="catalog-item-img">
        <source media="(min-width:1280px)" srcset="./img/Catalog/cat4-desk-1x.png 1x, ./img/Catalog/cat4-desk-2x.png 2x">
        <source media="(min-width:768px)" srcset="./img/Catalog/cat4-tab-1x.png 1x, ./img/Catalog/cat4-tab-2x.png 2x">
        <source media="(min-width:320px)" srcset="./img/Catalog/cat4-mob-1x.png 1x, ./img/Catalog/cat4-mob-2x.png 2x">
      <img
      src="./img/Catalog/cat4-desk-1x.png"
      alt="Garmin D2 Delta PX"
      >
      </picture>
      <div class="catalog-item-text">
      <p class="catalog-name-watch">Garmin D2 Delta PX</p>
      <p class="catalog-price-watch">€380</p>
    </div>
    </div>
    </li>
    <li class="catalog-li catalog-li-hidden">
      <div class="catalog-item">
      <picture class="catalog-item-img">
        <source media="(min-width:1280px)" srcset="./img/Catalog/cat5-desk-1x.png 1x, ./img/Catalog/cat5-desk-2x.png 2x">
        <source media="(min-width:320px)" srcset="./img/Catalog/cat5-tab-1x.png 1x, ./img/Catalog/cat5-tab-2x.png 2x">
      <img
      src="./img/Catalog/cat5-desk-1x.png"
      alt="Garmin Fenix 6 Pro Solare"
      >
      </picture>
      <div class="catalog-item-text">
      <p class="catalog-name-watch">Garmin Fenix 6 Pro Solar</p>
      <p class="catalog-price-watch">€400</p>
    </div>
    </div>
    </li>
    <li class="catalog-li catalog-li-hidden">
      <div class="catalog-item">
      <picture class="catalog-item-img">
        <source media="(min-width:1280px)" srcset="./img/Catalog/cat6-desk-1x.png 1x, ./img/Catalog/cat6-desk-2x.png 2x">
        <source media="(min-width:320px)" srcset="./img/Catalog/cat6-tab-1x.png 1x, ./img/Catalog/cat6-tab-2x.png 2x">
      <img
      src="./img/Catalog/cat6-desk-1x.png"
      alt="Tube Watch S42 Date Steel With Black Case"
      >
      </picture>
      <div class="catalog-item-text">
      <p class="catalog-name-watch">Tube Watch S42 Date Steel With Black Case</p>
      <p class="catalog-price-watch">€395</p>
    </div>
    </div>
    </li>
  </ul>
  <button class="catalog-button" type="button">Show more</button>
  </div>
</div>
</section>
