<section id="FAQ" class="section faq">
  <div class="faq-container">
    <div class="header-container-faq">
      <h2 class="title-faq">
        frequently <br />
        asked <br />
        <span class="title-faq-span">question</span>
      </h2>
      <!-- Фонове зображення для FAQ -->
      <div class="faq-image-bg"></div>
    </div>
    <!-- Контейнер для списку FAQ -->
    <div class="faq-list-container">
   <!-- Список FAQ з використанням класів для аккордеону -->
  <ul class="faq-list accordion-container">
   <!-- Перший елемент FAQ, який за замовчуванням активний -->
  <li class="faq-item as is-active js-enabled">
  <div class="questions">
  <div class="item-header-container">
  <h3 class="title-item-list-header as-header">
  What programming languages ​​are most often used in your project?
  </h3>
  </div>
   <!-- Кнопка для розгортання/згортання відповіді -->
  <button type="button" class="btn-answear as-trigger">
  <svg class="icon-answear">
  <use href="./images/icons/sprite.svg#icon-arrow_down"></use>
  </svg>
  </button>
  </div>
   <!-- Панель з відповіддю для першого елементу -->
   <div class="as-panel">
  <p class="text-item-list ac-text">
   In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages. 
  </p>
  </li>
  <!-- Другий елемент FAQ -->
  <li class="faq-item as">
  <div class="questions">
  <div class="item-header-container">
  <h3 class="title-item-list-header as-header">
  What are the deadlines for the project?
  </h3>
  </div>
  <button type="button" class="btn-answear as-trigger">
  <svg class="icon-answear">
  <use href="./images/icons/sprite.svg#icon-arrow_down"></use>
  </svg>
  </button>
  </div>
  <div class="as-panel">
  <p class="text-item-list ac-text">
  The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.
  </p>
  </div>
  </li>
  <!-- Трутій елемент FAQ -->
  <li class="faq-item as">
  <div class="questions">
  <div class="item-header-container">
  <h3 class="title-item-list-header as-header">
    What payment methods do you accept?
  </h3>
  </div>
  <button type="button" class="btn-answear as-trigger">
  <svg class="icon-answear">
  <use href="./images/icons/sprite.svg#icon-arrow_down"></use>
  </svg>
  </button>
  </div>
  <div class="as-panel">
  <p class="text-item-list ac-text">
Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
  </p>
  </div>
</li>
  <!-- Четвертий елемент FAQ -->
  <li class="faq-item as">
  <div class="questions">
  <div class="item-header-container">
  <h3 class="title-item-list-header as-header">
    How can I contact you?
  </h3>
  </div>
  <button type="button" class="btn-answear as-trigger">
  <svg class="icon-answear">
  <use href="./images/icons/sprite.svg#icon-arrow_down"></use>
  </svg>
  </button>
  </div>
  <div class="as-panel">
  <p class="text-item-list ac-text">
In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.
  </p>
  </div>
</li>
  <!-- Пятий елемент FAQ -->
  <li class="faq-item as">
  <div class="questions">
  <div class="item-header-container">
  <h3 class="title-item-list-header as-header">
   Do you provide advice or support?
  </h3>
  </div>
  <button type="button" class="btn-answear as-trigger">
  <svg class="icon-answear">
  <use href="./images/icons/sprite.svg#icon-arrow_down"></use>
  </svg>
  </button>
  </div>
  <div class="as-panel">
  <p class="text-item-list ac-text">
The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.
  </p>
  </div>
</li>
  <!-- Шостий елемент FAQ -->
  <li class="faq-item as">
  <div class="questions">
  <div class="item-header-container">
  <h3 class="title-item-list-header as-header">
 What does the process of developing a software product look like from idea to implementation?
  </h3>
  </div>
  <button type="button" class="btn-answear as-trigger">
  <svg class="icon-answear">
  <use href="./images/icons/sprite.svg#icon-arrow_down"></use>
  </svg>
  </button>
  </div>
  <div class="as-panel">
  <p class="text-item-list ac-text">
Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
  </p>
  </div>
</li>
</ul>
    </div>
  </div>
  <script type="module" src="/src/js/faq.js"></script>
</section>
