<header class="header" id="header">
  <div class="header-container">
    <nav class="page-nav">
      <a class="logo" href="./index.html">watchcharm</a>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="./index.html">Home</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link smooth-scroll" href="#about_us">About Us</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link smooth-scroll" href="#catalog">Catalog</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link smooth-scroll" href="#sale">Sale</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link smooth-scroll" href="#reviews">Reviews</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link smooth-scroll" href="#contact_us"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
    <button class="menu-open-btn" type="button" id="openbutton">
      <svg class="menu-open-btn-icon" aria-label="menu open icon">
        <use href="./img/icons/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <ul class="social">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg
            class="social-icon"
            width="20"
            height="20"
            aria-label="facebook icon"
          >
            <use href="./img/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg
            class="social-icon"
            width="20"
            height="20"
            aria-label="instagram icon"
          >
            <use href="./img/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg
            class="social-icon"
            width="20"
            height="20"
            aria-label="youtube icon"
          >
            <use href="./img/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="backdrop" id="mobile-menu">
  <div class="sidebar-menu">
    <button class="menu-close-btn" type="button" id="closebutton">
      <svg class="menu-close-icon" aria-label="menu close icon">
        <use href="./img/icons/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="sidebar-nav-list">
      <li class="sidebar-nav-item">
        <a class="sidebar-nav-link" href="./index.html">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="sidebar-nav-link smooth-scroll" href="#about_us" id="ab_us"
          >About Us</a
        >
      </li>
      <li class="sidebar-nav-item">
        <a class="sidebar-nav-link smooth-scroll" href="#catalog" id="ctlg"
          >Catalog</a
        >
      </li>
      <li class="sidebar-nav-item">
        <a class="sidebar-nav-link smooth-scroll" href="#sale" id="sl">Sale</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="sidebar-nav-link smooth-scroll" href="#reviews" id="rvw"
          >Reviews</a
        >
      </li>
      <li class="sidebar-nav-item">
        <a class="sidebar-nav-link smooth-scroll" href="#contact_us" id="cntc"
          >Contact Us</a
        >
      </li>
    </ul>
    <ul class="sidebar-social">
      <li class="sidebar-social-item">
        <a
          class="sidebar-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="sidebar-social-icon" aria-label="facebook icon">
            <use href="./img/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="sidebar-social-item">
        <a
          class="sidebar-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="sidebar-social-icon" aria-label="instagram icon">
            <use href="./img/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="sidebar-social-item">
        <a
          class="sidebar-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="sidebar-social-icon" aria-label="youtube icon">
            <use href="./img/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
