<section class="hero-section">

  <div id="hero" class="hero-container">

    <h1 class="hero-title">
      <span class="color-content default">Hello, I am </span>
      <br>
      <span class="color-content selection">Fullstack developer </span>
    </h1>

    <div class="hero-order-box">
      <a href="#work-together" class="hero-order-link">
        <svg class="hero-icon-arrow">
          <!-- ПОМІНЯТИ СТРІЛКУ НА ПРАВИЛЬНУ -->
          <use href="../images/icons/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
        <span class="hero-order-text">
          Order the project
        </span>
      </a>
      <div class="hero-decor-box"></div>
    </div>

    <img src="./images/hero/Photo-img.jpg" alt="Fullstack Developer" class="hero-image" />

    <p class="hero-description">
      I work with people all over the world to create <span class="color-content selection">impressive</span> and <span
        class="color-content selection">functional websites</span> that reflect each client’s unique personality.
    </p>

  </div>

  <nav class="social-media-box">
    <ul class="hero-links">
      <li class="social-media-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer nofollow"
          aria-label="link to instagram">Instagram</a>
      </li>
      <li class="social-media-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer nofollow"
          aria-label="link to facebook">Facebook</a>
      </li>
      <li class="social-media-item">
        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
          rel="noopener noreferrer nofollow" aria-label="link to linkedin">Linkedin</a>
      </li>
      <li class="social-media-item">
        <a href="https://github.com/Wallmartboss/Project-GrXJSTeam" target="_blank" rel="noopener noreferrer nofollow"
          aria-label="link to github">GitHub</a>
      </li>
    </ul>
  </nav>

  <script type="module" src="./js/hero.js"></script>
</section>

<!-- <div class="hero-background">
      <picture>
        <source srcset="
        ./images/hero/hero-mob-decor-1x.png 1x,
        ./images/hero/hero-mob-decor-2x.png 2x" media="(max-width: 767px)" />
        <source srcset="
        ./images/hero/hero-tab-decor-1x.png 1x,
        ./images/hero/hero-tab-decor-2x.png 2x" media="(max-width: 1279px)" />
        <source srcset="
        ./images/hero/hero-desk-decor-1x.png 1x,
        ./images/hero/hero-tab-decor-2x.png 2x" media="(min-width: 1280px)" />
        <img src="
        ./images/hero/hero-mob-decor-1x.png" alt="Hero background" />
      </picture>
    </div> -->
