<section id="hero" class="hero">
  <div class="container">
    <div class="hero-block">
      <div class="hero-text">
        <h1 class="hero-title">
          Welcome to our <br />
          <span class="hero-title-span">collection</span> of <br />
          premium watches
        </h1>
        <p class="hero-p">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-elements">
        <picture class="hero-photo-heroes">
          <source
            media="(min-width: 1158px)"
            srcset="
              ./img/Hero/3faces-desk-1x.png 1x,
              ./img/Hero/3faces-desk-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/Hero/3faces-tab-1x.png 1x,
              ./img/Hero/3faces-tab-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/Hero/3faces-mob-1x.png 1x,
              ./img/Hero/3faces-mob-2x.png 2x
            "
          />
          <img src="./img/Hero/3faces-desk-1x.png" alt="img (Our Heroes)" />
        </picture>
        <a href="#footer" class="hero-a smooth-scroll">Scroll down</a>
      </div>
    </div>
    <picture class="hero-photo-watches">
      <source
        media="(min-width: 1158px)"
        srcset="
          ./img/Hero/1watch-desk-1x.png 1x,
          ./img/Hero/1watch-desk-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/Hero/1watch-tab-1x.png 1x,
          ./img/Hero/1watch-tab-2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/Hero/1watch-mob-1x.png 1x,
          ./img/Hero/1watch-mob-2x.png 2x
        "
      />
      <img src="./img/Hero/1watch-desk-1x.png" alt="img (Hero Watches)" />
    </picture>
  </div>
</section>
