<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      <span class="color-content default">Hello, I am </span>
      <br>
      <span class="color-content selection">Fullstack developer </span>
    </h1>

    <div class="hero-order-box">
      <a href="#" class="hero-order-link">
        <svg class="hero-icon-arrow">
          <use href="../images/icons/sprite.svg#icon-arrow-order"></use>
        </svg>
        <h4 class="hero-order-text">
          Order the project
        </h4>
      </a>
      <div class="hero-decor-box"></div>
    </div>

    <p class="hero-description">
      I work with people all over the world to create <span class="color-content selection">impressive</span> and <span
        class="color-content selection">functional websites</span> that reflect each client’s unique personality.
    </p>

  </div>

  <div class="social-media-box">
    <ul class="hero-links">
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Linkedin</a></li>
      <li><a href="#">GitHub</a></li>
    </ul>
  </div>

  <script type="module" src="../js/hero.js"></script>
</section>