<section class="rev-section" id="reviews">
  <div class="container">
    <h2 class="rev-title">Reviews</h2>
    <ul class="rev">
      <li class="list-rev">
        <img
          srcset="
            ./img/Reviews/Face1-review-1x.png 1x,
            ./img/Reviews/Face1-review-2x.png 2x
          "
          src="./img/Reviews/Face1-review-1x.png"
          alt="John Wax"
          width="56"
          class="picture"
        />
        <h3 class="title-text">John Wax</h3>
        <p class="text-rev">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="list-rev-t">
        <img
          srcset="
            ./img/Reviews/Face2-review-1x.png 1x,
            ./img/Reviews/Face2-review-2x.png 2x
          "
          src="./img/Reviews/Face2-review-1x.png"
          alt="Victoria Romashenko"
          width="56"
          class="picture"
        />
        <h3 class="title-text">Victoria Romashenko</h3>
        <p class="text-rev">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="list-rev-d">
        <img
          srcset="
            ./img/Reviews/Face3-review-1x.png 1x,
            ./img/Reviews/Face3-review-2x.png 2x
          "
          src="./img/Reviews/Face3-review-1x.png"
          alt="Anastasia Trachuk"
          width="56"
          class="picture"
        />
        <h3 class="title-text">Anastasia Trachuk</h3>
        <p class="text-rev">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
