<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-desktop-container">
      <div class="sale-tab-block">
        <div class="sale-clocks">
          <ul class="sale-list">
            <li class="sale-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/Sale/sale-small-1-tab-1x.png 1x,
                    ./img/Sale/sale-small-1-tab-2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/Sale/sale-small-1-tab-1x.png 1x,
                    ./img/Sale/sale-small-1-tab-2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/Sale/sale-small-1-mob-1x.png 1x,
                    ./img/Sale/sale-small-1-mob-2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/Sale/sale-small-1-mob-1x.png"
                  alt="clock garming"
                  width="52"
                />
              </picture>
            </li>
            <li class="sale-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/Sale/sale-small-2-tab-1x.png 1x,
                    ./img/Sale/sale-small-2-tab-2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/Sale/sale-small-2-tab-1x.png 1x,
                    ./img/Sale/sale-small-2-tab-2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/Sale/sale-small-2-mob-1x.png 1x,
                    ./img/Sale/sale-small-2-mob-2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/Sale/sale-small-2-mob-1x.png"
                  alt="clock garming"
                  width="52"
                />
              </picture>
            </li>
            <li class="sale-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/Sale/sale-small-3-tab-1x.png 1x,
                    ./img/Sale/sale-small-3-tab-2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/Sale/sale-small-3-tab-1x.png 1x,
                    ./img/Sale/sale-small-3-tab-2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/Sale/sale-small-3-mob-1x.png 1x,
                    ./img/Sale/sale-small-3-mob-2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/Sale/sale-small-3-mob-1x.png"
                  alt="clock garming"
                  width="52"
                />
              </picture>
            </li>
            <li class="sale-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/Sale/sale-small-4-tab-1x.png 1x,
                    ./img/Sale/sale-small-4-tab-2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/Sale/sale-small-4-tab-1x.png 1x,
                    ./img/Sale/sale-small-4-tab-2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/Sale/sale-small-4-mob-1x.png 1x,
                    ./img/Sale/sale-small-4-mob-2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/Sale/sale-small-4-mob-1x.png"
                  alt="clock garming"
                  width="52"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="sale-head-clock">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/Sale/sale-1-tab-1x.png 1x,
                ./img/Sale/sale-1-tab-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/Sale/sale-1-tab-1x.png 1x,
                ./img/Sale/sale-1-tab-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/Sale/sale-1-mob-1x.png 1x,
                ./img/Sale/sale-1-mob-2x.png 2x
              "
            />
            <img
              class="sale-head-clock-img"
              src="./img/Sale/sale-1-mob-1x.png"
              alt="clock mark"
            />
          </picture>
        </div>
      </div>
      <div class="sale-description">
        <div class="sale-title-container">
          <h3 class="sale-description-title">
            MARQ&#174; Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="sale-product-tag">Product tag: 706587</p>
        </div>
        <div class="sale-prices">
          <div class="sale-promo-price-block">
            <p class="sale-promo-price">€1500</p>
          </div>
          <p class="sale-price">€3000</p>
        </div>
        <p class="sale-text-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-models-list">
          <li class="sale-models-item"><p>Fused carbon fiber</p></li>
          <li class="sale-models-item"><p>Grade-5 Titanuim</p></li>
          <li class="sale-models-item"><p>Athlete</p></li>
          <li class="sale-models-item"><p>Golfer</p></li>
          <li class="sale-models-item"><p>Commander</p></li>
          <li class="sale-models-item"><p>Adventurer</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
