<section class="tech_skills">
  <h2 class="visually-hidden">Tech skills</h2>
  <!-- <p class="toggler">Switch theme</p> -->
<div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line">
      <span class="color_dot">
        <svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      html/css <span class="color_dot"> <svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      javascript <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      react <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      node.js <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      react native <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      typescript
    </p>
    <p class="marquee__line">
      <span class="color_dot">
        <svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      html/css <span class="color_dot"> <svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      javascript <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      react <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      node.js <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      react native <span class="color_dot"><svg class="dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_green"></use></svg></span>
      typescript
    </p>
  </div>
</div>
<div class="marquee_tilt">
  <div class="marquee__inner">
   <p class="marquee__line">
      <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      javascript <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      react <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      node.js <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      react native <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"
          ></use></svg></span>
      typescript <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      html/css 
    </p>
    <p class="marquee__line">
       <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      javascript <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      react <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      node.js <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      react native <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"
          ></use></svg></span>
      typescript <span class="color_dot">
         <svg class="bw_dot" width="8" height="8">
          <use href="./images/icons/sprite.svg#icon-rectangle_bw"></use></svg></span>
      html/css 
    </p>
</div>
</div>
</section>