<section class="tech_skills">


<link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

<div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line">
      <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"> </span>
      html/css <span class="color_dot"> <img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      javascript <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      react <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      node.js <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      react native <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      typescript
    </p>
    <p class="marquee__line">
      <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"> </span>
      html/css <span class="color_dot"> <img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      javascript <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      react <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      node.js <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      react native <span class="color_dot"><img class="dot" src="../images/icons/rectangle_green.svg" width="8" height="8"></span>
      typescript
    </p>
  </div>
</div>
<div class="marquee_tilt">
  <div class="marquee__inner">
   <p class="marquee__line">
      <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"> </span>
      javascript <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      react <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      node.js <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      react native <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      typescript <span class="color_dot"> <img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      html/css 
    </p>
    <p class="marquee__line">
      <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"> </span>
      javascript <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      react <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      node.js <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      react native <span class="color_dot"><img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      typescript <span class="color_dot"> <img class="dot" src="../images/icons/rectangle_black.svg" width="8" height="8"></span>
      html/css 
    </p>
</div>
</section>