<section class="work-together" id="work-together">
  <div class="work-together-container container">
    <h2 class="work-together-title">
      let's
      <span
        >work <br />
        together</span
      >
    </h2>
    <div class="work-together-info">
      <div class="work-together-contact">
        <p>Contact me to transform your ideas into exceptional solutions.</p>
        <ul class="work-together-list">
          <li class="work-together-item">
            <a class="work-together-link" href="tel:+380904567890">
              <svg width="24" height="24" class="work-together-icon">
                <use href="./images/icons/sprite.svg#icon-icon-phone"></use>
              </svg>
              <span class="">+38 090 456 78 90</span>
            </a>
          </li>
          <li class="work-together-item">
            <a
              class="work-together-link"
              href="mailto:lloydjefferson@gmail.com"
            >
              <svg width="24" height="24" class="work-together-icon">
                <use href="./images/icons/sprite.svg#icon-icon-letter"></use>
              </svg>
              <span class="">lloydjefferson@gmail.com</span>
            </a>
          </li>
          <li class="work-together-item">
            <a
              class="work-together-link"
              href="https://www.google.com/maps/@40.6970193,-74.3093307,10z?entry=ttu"
              target="_blank"
            >
              <svg width="24" height="24" class="work-together-icon">
                <use href="./images/icons/sprite.svg#icon-icon-location"></use>
              </svg>
              <span class="">USA, New York</span>
            </a>
          </li>
        </ul>
      </div>
      <form action="" class="work-together-form">
        <div class="form-fields" data-status="">
          <svg width="16" height="16" class="work-together-form-icon">
            <use href="./images/icons/sprite.svg#icon-ep_success-filled"></use>
          </svg>

          <input
            class="work-together-input-email"
            name="userEmail"
            id="user-email"
            type="email"
            placeholder="Your email*"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <textarea
            class="work-together-input-message"
            type="text"
            name="userComment"
            id="user-comment"
            minlength="3"
            placeholder="Message"
            required
          ></textarea>
        </div>
        <button type="submit" class="work-together-btn">SEND MESSAGE</button>
      </form>
    </div>
  </div>

  <div class="backdrop">
    <div class="work-together-modal">
      <button type="button" class="modal-close-btn">
        <svg class="modal-close-btn-icon">
          <use href="./images/icons/sprite.svg#icon-x"></use>
        </svg>
      </button>

      <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
  <script type="module" src="./js/work_together.js"></script>
</section>
