@media screen and (min-width: 360px) {
  .about_Section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .aboutH2 {


    font-family: Impact, sans-serif;
    color: var(--black);
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.0346em;
  }

  .aboutSpan {
    color: var(--accet-green);
  }

  .aboutImg {
    display: block;
    height: 374px;
    margin: 0 auto;
  }

  .about_Bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
  }

  .titel {
    /* width: 55px; */
    height: 40px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.01em;

    color: var(--black);
  }

  .aboutMe_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;

    line-height: 150%;
    letter-spacing: 0.03em;
  }

  .about_Education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
  }

  .education_list {
    gap: 12px;
    margin-left: 32px;
  }
  .education_list li {
    position: relative;
  }

  .education_list li::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 10px;
    width: 4px;
    height: 4px;
    background-color: var(--accet-green);
    border-radius: 25%; 
  }

  .list_Education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
  }


}

@media screen and (min-width: 768px){

}