.section {
  padding-bottom: 80px;
}
.faq-container {
  width: 100%;
  max-width: 360px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.header-container-faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}
.title-faq {
  color: #292929;
  /* Mobile/h2-360 */
  font-family: Impact, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 0;
}
.title-faq.dark-mode {
  color: #f0f0f0;
}
.title-faq-span {
  color: #00b068;
}
.title-faq-span.dark-mode {
  color: #14c57c;
}
.faq-image-bg {
  display: none;
}
.faq-list-container {
  margin-top: auto;
  margin-left: auto;
}
.faq-item {
  position: relative;
  padding: 28px 24px;
  max-width: 320px;
  border-bottom: 1px solid #ccc;
}
.faq-item:last-child {
  margin-bottom: 0;
}
.questions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.item-header-container {
  width: 272px;
}
.title-item-list-header {
  color: var(--Black, #292929);
  /* Mobile/caption-360 */
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 0;
}
.btn-answear {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 32px;
  height: 32px;
  margin-left: 16px;
}
.icon-answear {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}
.icon-answear {
  display: block;
  transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}
.text-item-list {
  color: var(--Black, #292929);
  /* Desktop-Tablet/body 1 */
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  line-height: 150%;
  letter-spacing: 0.03em;
}
.text-item-list.dark-mode {
  color: #f0f0f0;
}
.is-active.faq-item {
  background: rgba(0, 176, 104, 0.2); /* Фон активного елемента */
  border: transparent;
  border-radius: 16px;
}
.is-active.faq-item.dark-mode {
  background: rgba(20, 197, 124, 0.2);
}
.is-active {
  border-top: 5px solid #fff; /* Верхня рамка */
}
/* Панель відповіді в активному стані */
.is-active .ac-panel {
  margin-top: 24px;
}
/* Іконка "відкрита" */
.ac.icon-open {
  transform: rotate(180deg);
}

/* Іконка відповіді в активному стані */
.is-active .icon-answear {
  transform: rotate(180deg);
}
.ac-panel {
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  ); /* Функція переходу */
}
/* Активна панель з питанням та відповіддю */
.ac .ac-panel {
  overflow: hidden;
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Візуальне виділення активного елемента списку */
.faq-item.is-active::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #f0f0f0;
  z-index: 1;
}
.btn-answear:hover {
  background-color: transparent;
}
/* Медіа-запит для екранів ширше 768px */
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 124px;
  }

  .faq-container {
    max-width: 704px;
    margin: 0 auto;
    padding: 0;
  }

  .faq-item {
    max-width: 704px;
  }

  .title-faq {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }

  .item-header-container {
    width: 656px;
  }

  .title-item-list-header {
    width: 600px;
    font-size: 20px;
    line-height: 160%;
  }

  .header-container-faq {
    margin-bottom: 60px;
  }
}
/* Медіа-запит для екранів ширше 1280px */
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 164px;
  }
  .faq-container {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1280px;
  }
  .faq-item {
    max-width: 592px;
  }
  .faq-image-bg {
    margin-top: 240px;
    display: block;
    width: 526px;
    height: 408px;

    background-image: linear-gradient(
        to right,
        rgba(240, 240, 240, 0.4),
        rgba(240, 240, 240, 0.4)
      ),
      url('../img/faq-bg.png'); /* Фонове зображення */
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-container-faq {
    margin-bottom: 0;
    margin-right: 98px;
  }
  .item-header-container {
    width: 544px;
  }
  .title-item-list-header {
    width: 488px;
  }
}

/* Медіа-запит для екранів з високим розширенням пікселів */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(240, 240, 240, 0.4),
        rgba(240, 240, 240, 0.4)
      ),
      url('../img/faq-bg2.png'); /* Фонове зображення */
  }
}
