.footer {
  border-top: 1px solid var(--Light-grey, #e4e5e6);
  padding-top: 40px;
  padding-bottom: 24px;
}

.logo-link {
  color: var(--Black, #292929);
  font-family: 'Impact', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.logo-link:hover,
.logo-link:focus {
  animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

body.dark-mode .logo {
  color: var(--white, #f0f0f0);
}

.accent {
  color: var(--Accent-green, #00b068);
  font-family: 'Impact', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

body.dark-mode .accent {
  color: #14c57c;
}

.footer-link {
  color: var(--Black, #292929);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: #00b068;
}
body.dark-mode .logo-link,
body.dark-mode .footer-link,
body.dark-mode .footer-cookies {
  color: var(--white, #f0f0f0);
}

body.dark-mode .footer-link:hover,
body.dark-mode .footer-link:focus,
body.dark-mode .footer-cookies:hover,
body.dark-mode .footer-cookies:focus {
  color: #14c57c;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  width: 198px;
  margin: 0 auto;
}

.footer-bottom-text {
  color: var(--Black, #292929);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

body.dark-mode .footer-bottom-text {
  color: var(--white, #f0f0f0);
}

.bottom-span {
  display: flex;
  padding-left: 27px;
}

.footer-cookies {
  color: var(--Black, #292929);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-cookies:hover,
.footer-cookies:focus {
  color: #00b068;
}

.modal-footer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  z-index: 1000;
  display: none;
  max-width: 100%;
  max-height: 100%;
}

.modal-show {
  display: flex;
}

.modal-hide {
  display: none;
}

body.dark-mode .modal-footer {
  background-color: #2a2d32;
}

body.dark-mode .modal-text,
body.dark-mode .modal-label,
body.dark-mode .footer-bottom {
  color: #f0f0f0;
}

.modal-content {
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-text {
  text-align: center;
  margin-bottom: 10px;
  color: var(--Black, #292929);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

#cookie-settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-label {
  color: var(--Black, #292929);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-footer button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  color: #292929;
  border: transparent;
  background-color: #14c57c;
  cursor: pointer;
}

.modal-footer button:hover,
.modal-footer button:focus {
  background-color: #00b068;
}

body.dark-mode .modal button:hover,
body.dark-mode .modal button:focus {
  color: #f0f0f0;
}

.modal-footer h2 {
  margin-top: 0;
  text-align: center;
  color: #00b068;
  margin-bottom: 10px;
}

/*-- tablet--768px--*/

@media screen and (min-width: 768px) {
  .logo-link {
    font-size: 32px;
  }

  .accent {
    font-size: 32px;
  }

  .footer-list {
    flex-direction: row;
    gap: 40px;
  }

  .footer-bottom {
    display: block;
    width: 100%;
    text-align: end;
  }

  .bottom-span {
    display: inline-flex;
    padding-left: 0px;
  }
}

/*--desk--1280px--*/

@media screen and (min-width: 1280px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-list {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
