.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 1.5px;
        text-align: left;
    }
}

.accent {
    color: var(--accet-green);
}

.header__container .btn-toggle {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav__list {
    display: flex;
    gap: 40px;
    margin-left: 30px;

    @media screen and (min-width: 1280px) {
        margin-left: 40px;
    }


}

.nav__link {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.menu-toggle {
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-toggle__icon {
    stroke: var(--black);
}

/* Mobile menu styles */

.menu-toggle {
    display: flex;
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accet-green);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    /* background-image: url(../images/hero/hero-mob-decor-1x.png); */
    width: 100vw;
    height: 100vh;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
        padding: 260px 20px;
        overflow-y: auto;

    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu__list {
    margin-bottom: 40px;
    text-align: center;
}

.mob-menu.is-open {
    transform: translateY(0);
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu__link {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--black);
}

.btn-toggle {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    height: 1rem;
    width: 2rem;
    border-radius: 1rem;
    background: var(--light-grey);
    cursor: pointer;
    transition: background-color 0.25s;
}

.btn-toggle .handle {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
    background: var(--accet-green);
    transition: background-color 0.25s, left 0.25s;
}

.btn-toggle.active {
    background-color: var(--black);
}