/*============================= max-width: 767px ======================================*/

.hero {
    padding-top: 60px;
    padding-bottom: 30px;
}

.hero-block {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 28px;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0C0C0C;
    margin-bottom: 20px;
}

.hero-title-span {
    color: #3350E9;
}

.hero-p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0C0C0CB2;
}

.hero-a {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0C0C0C;
    text-decoration: underline;
}

.hero-a:active,
.hero-a:focus {
    color: #3350E9;
}

.hero-elements {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*============================= / max-width: 767px ======================================*/

/*=========================== @media (min-width: 768px) =================================*/

@media screen and (min-width: 768px) {

    .hero {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .hero-block {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        gap: 0;
        justify-content: space-between;
    }

    .hero-title {
        font-size: 70px;
        line-height: 60px;
    }

    .hero-p {
        font-size: 16px;
        line-height: 20px;
        max-width: 480px;
    }

    .hero-elements {
        flex-direction: column;
        min-width: 136px;
    }

    .hero-a {
        font-size: 20px;
        line-height: 20px;
    }

}

/*=========================== / @media (min-width: 768px) =================================*/

/*============================ @media (min-width: 1280px) =================================*/

@media screen and (min-width: 1280px) {

    .hero {
        padding-bottom: 50px;
    }

    .hero-title {
        font-size: 72px;
        line-height: 63px;
    }

    .hero-elements {
        min-width: 146px;
    }

    .hero-a:hover,
    .hero-a:active,
    .hero-a:focus {
        color: #3350E9;
    }

}