/* =========== width 360px ================ */

.projects-section {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.projects-title {
  max-width: 300px;
  font-family: Impact;
  margin: 0 auto;
  color: var(--black);
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.projects-title span {
  color: var(--accet-green);
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.project-list li {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.project-img {
  border-radius: 16px;
  width: 320px;
}

.project-text {
  color: var(--black);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 12px;
  margin-bottom: 16px;
}

.project-list div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-subtitle {
  color: var(--black);
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 16px;
  max-width: 320px;
}

.project-link {
  padding: 12px 24px;
  margin-left: auto;
  border-radius: 8px;
  background-color: var(--light-grey);
  color: var(--black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.project-link:hover {
  background-color: #bcdfd1;
}

.project-icon {
  margin-left: 12px;
  stroke: var(--accet-green);
  width: 24px;
  height: 24px;
}

.load-more {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  border: unset;
  cursor: pointer;
  background-color: transparent;
  color: var(--black);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 110px;
  height: 2px;
  background-color: var(--accet-green);
}

.load-more:hover {
  color: var(--accet-green);
}

/* ============== body.dark-mode styles ================= */

body.dark-mode .load-more,
body.dark-mode .projects-title,
body.dark-mode .project-text,
body.dark-mode .project-subtitle,
body.dark-mode .project-link {
  color: #fff;
}

body.dark-mode .project-link:hover {
  background-color: #bcdfd1;
  color: var(--black);
}

body.dark-mode .project-link {
  background-color: #2a2d32;
}

body.dark-mode .load-more:hover {
  color: var(--accet-green);
}

body.dark-mode .img-container {
  position: relative;
  display: inline-block;
}

body.dark-mode .img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 2px solid #1e2023;
  pointer-events: none;
  box-sizing: border-box;
}

/* ==================== media 320-360px =========== */

@media screen and (min-width: 320px) and (max-width: 359px) {
  .projects-title {
    font-size: 50px;
  }

  .project-subtitle {
    font-size: 26px;
  }
}

/* ============= media 768px ========================= */

@media screen and (min-width: 768px) {
  .projects-section {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .projects-container {
    gap: 60px;
  }

  .projects-title {
    max-width: 584px;
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  }

  .project-list {
    gap: 60px;
  }

  .project-list li {
    max-width: 704px;
  }

  .project-img {
    width: 704px;
  }

  .project-text {
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .project-list div {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: unset;
  }

  .project-subtitle {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: unset;
    max-width: 547px;
  }

  button {
    font-size: 20px;
    line-height: 1.6;
  }

  button::after {
    width: 120px;
    bottom: 5px;
  }
}

/* ============ media 1280px ========================= */

@media screen and (min-width: 1280px) {
  .projects-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .projects-container {
    gap: 80px;
  }

  .project-list {
    gap: 80px;
  }

  .project-list li {
    max-width: 1008px;
  }

  .project-img {
    width: 1008px;
  }

  .project-subtitle {
    max-width: 763px;
  }
}