@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./advertisement.css');
@import url('./catalog.css');
@import url('./contact_us.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./footer.css');

body {
  min-width: 320px;

}

:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Ддя екрану від 320 px, і щоб від тягнувся від 320 до 375 */
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

}

/* Для мобільного екрану від 375 px  */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

/* Для планшетного екрану від 768 px  */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;

  }
}

/* Для десктопного екрану від 1280 px  */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 65px;
    padding-right: 65px;

  }
}