@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_me.css');
@import url('./tech_skills.css');
@import url('./benefits.css');
@import url('./my_projects.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./work_together.css');
@import url('./footer.css');

:root {
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --light-accent: #bcdfd1;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
  --background-color: --white;
  --text-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  min-width: 320px;
}

body.dark-mode {
  --background-color: #1e2023;
  --text-color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Ддя екрану від 320 px, і щоб від тягнувся від 320 до 360 */
.container {
  padding-left: 20px;
  padding-right: 20px;
  /* margin: 0 auto; */
  width: 100%;
}

/* Для мобільного екрану від 360 px  */
@media screen and (min-width: 360px) {
  .container {
    width: 100%;
  }
}

/* Для планшетного екрану від 768 px  */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Для десктопного екрану від 1280 px  */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}

/* Go to top btn styles */
#scrollToTopBtn {
  display: none;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: solid 1px var(--light-grey);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 14px;
  border-radius: 10px;
}

#scrollToTopBtn .hero-icon-arrow {
  width: 28px;
  height: 28px;
  transform: rotate(270deg);
}
