body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.tech_skills {
  padding-bottom: 56px;
  padding-top: 56px;
}

.marquee_tilt {
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  background: var(--light-grey);
  transform: rotate(2deg);
  padding: 40px 0px;
  text-transform: uppercase;
  color: var(--accet-green);
  position: relative;
  z-index: -1;
}
.marquee_tilt .dark-mode {
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  background: #2a2d32;
  transform: rotate(2deg);
  padding: 40px 0px;
  text-transform: uppercase;
  color: #14c57c;
  position: relative;
  z-index: -1;
}
.marquee {
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  padding: 40px 0px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--light-accent);
}
.marquee .dark-mode {
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  padding: 40px 0px;
  text-transform: uppercase;
  color: var(--white);
  background-color: #204136;
}
.marquee__inner {
  display: flex;
  padding: 0;
}

.marquee__line {
  display: flex;
  flex-shrink: 0;
  margin: 0;
  /* padding: 10px 15px; */
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 8s;
  animation-timing-function: linear; /* ease-in-out;*/
  animation-iteration-count: infinite;
  align-items: center;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.color_dot {
  margin-left: 24px;
  margin-right: 24px;
}

.dot {
  display: flex;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .marquee {
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.01em;
  }
  .marquee_tilt {
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.01em;
  }
  .tech_skills {
    padding-bottom: 62px;
    padding-top: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .tech_skills {
    padding-bottom: 82px;
    padding-top: 82px;
  }
}
