@media screen and (min-width: 768px) {
  .work-together {
    position: relative;

    z-index: 1;
  }
  .work-together::before {
    background-image: url(../images/work_together/wt-tab-decor-2x.png);
    content: '';
    position: absolute;
    top: -104px;
    right: 32px;
    width: 336px;
    height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
@media screen and (min-width: 1280px) {
  .work-together {
    position: relative;

    z-index: 1;
  }
  .work-together::before {
    background-image: url(../images/work_together/wt-desk-decor-2x.png);
    content: '';
    position: absolute;
    top: -144px;
    right: 32px;
    width: 526px;
    height: 408px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.work-together-container {
  display: block;
  margin: 0 20px;
  align-items: center;
  flex-shrink: 0;
  @media screen and (min-width: 768px) {
    margin: 0 32px;
  }
}

.work-together-title {
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 124px; /* 114.815% */
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}
body.dark-mode .work-together-title {
  color: #f0f0f0;
}

.work-together-title span {
  color: #00b068;
}

.work-together-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (min-width: 768px) {
    gap: 60px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    gap: 136px;
  }
}
.work-together-contact {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  @media screen and (min-width: 1280px) {
    gap: 120px;
  }
}

.work-together-contact p {
  color: #292929;
  /* Mobile/caption-360 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 258px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 488px;
    line-height: 32px; /* 160% */
  }
}
body.dark-mode .work-together-contact p {
  color: #f0f0f0;
}

.work-together-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
  }
}

.work-together-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.work-together-link {
  color: #292929;
  /* Desktop-Tablet/body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.work-together-link span {
  color: #292929;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-left: 16px;
}

body.dark-mode .work-together-link span {
  color: #f0f0f0;
}

.work-together-link span:hover,
.work-together-link span:focus,
body.dark-mode .work-together-link span:hover,
body.dark-mode .work-together-link span:focus {
  color: #00b068;
}

.work-together-icon {
  stroke: #00b068;
  fill: none;
}

.work-together-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;

  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}

.form-fields {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;

  @media screen and (min-width: 1280px) {
  }
}

.form-fields::after {
  position: absolute;
  top: 48px;
  left: 0;

  content: attr(data-status);
  color: #00b068;
  font-size: 14px;
}

.form-fields.new-color::after {
  color: #e74a3b; /* Новий колір */
}

.work-together-input-email {
  outline: transparent;
  background-color: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  height: 48px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #e4e5e6;
  color: #292929;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  border: none;
}
.work-together-input-email.new-color {
  color: #e74a3b; /* Новий колір */
}

body.dark-mode .work-together-input-email {
  background: #2a2d32;
}

.work-together-form-icon {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
}

.work-together-input-message {
  display: flex;
  text-wrap: wrap;
  padding: 16px;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background-color: #e4e5e6;
  height: 119px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  color: var(--text-color);
  border: none;
  outline: none;
}

body.dark-mode .work-together-input-message {
  background: #2a2d32;
}

.work-together-btn {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #00b068;
  color: var(--White, #f0f0f0);
  text-align: center;
  border: none;

  /* Desktop-Tablet/body 2 bold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  @media screen and (min-width: 768px) {
    width: 174px;
  }
}
.work-together-btn:hover,
.work-together-btn:focus {
  background: #009156;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(41, 41, 41, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.work-together-modal {
  display: flex;
  width: 320px;
  padding: 48px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease, visibility 0.5s ease;
  @media screen and (min-width: 768px) {
    padding: 64px;
    width: 492px;
    height: 280px;
  }
}

body.dark-mode .work-together-modal {
  background-color: #2a2d32;
}

.modal-close-btn-icon {
  width: 24px;
  height: 24px;
  --color3: var(--text-color);
  transition: fill 0.3s ease;

  &:hover {
    --color3: var(--accet-green);
  }
}

body.dark-mode .modal-close-btn {
  stroke: #f0f0f0;
}

.modal-close-btn {
  margin-left: auto;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  /* stroke: #292929; */
  border: none;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  color: #00b068;
  text-align: center;
}

.modal-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #292929;
  text-align: center;
}

body.dark-mode .modal-text {
  color: #f0f0f0;
}

input[type='email'] {
  text-transform: lowercase;
}
